/* _typography.scss */

/* fonts */
// Regular, Semibold, Bold
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html {
  font-size: 62.5%;
  /* hereafter, font sizing is easy: 1.6rem = 16px */
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-text);
}

// headings
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-family: var(--font-heading-semibold);
  font-size: 3.8rem;
  line-height: 5.0rem;
  font-weight: 700;

  strong {
    font-family: var(--font-heading);
    font-size: 6.6rem;
    line-height: 5.0rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
  }
}

h2 {
  font-family: var(--font-heading-semibold);
  font-size: 3.0rem;
  line-height: 3.8rem;
  font-weight: 700;
}

h3 {
  font-family: var(--font-heading-semibold);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-family: var(--font-body);
  font-size: 2.0rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;  
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: var(--font-body);
  margin-top: 0;
  margin-bottom: var(--p2);
}

small,
.text-small {
  font-size: var(--text-small);
}

a {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0 0 var(--p1) 0;
  padding: 0;

  >li {
    padding: 0;

    // &::before {
    //   content: "•";
    //   padding: 0 var(--p1);
    // }

    >ol {
      margin: var(--p1);

      >li {
        padding: 0;
      }
    }
  }
}